@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<body>
    <div class="container-fluid fill">

        <div class="container">
            <div class="mypage">
                <div class="jumbotron mypage-section">
                    <h1 class="mypage-header">Administrasjonspanel</h1>
                    <p>List alle filmer, brukere og ordre. Gjør endringer der du vil.</p>
                </div>
                <div class="col-sm-12 mypage-section">
                    <div class="col-xs-6 col-xs-offset-3">
                        <div class="col-xs-4">
                            <a href="/Admin/EditUsers">Vis brukere</a>
                        </div>
                        <div class="col-xs-4">
                            <a href="/Admin/EditMovies">Vis filmer</a>
                        </div>
                        <div class="col-xs-4">
                            <a href="orders.html">Vis ordre</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="container-fluid mypage-section" style="padding-top: 0">
                        <h2 class="mypage-header">Nylige bestillinger</h2>
                        <div class="col-xs-4 col-xs-offset-4">
                            <select id="" class="form-control selectpicker" style="text-align: center">
                                <option value="Action">28.08.1964</option>
                                <option value="Drama">28.08.1964</option>
                                <option value="Comedy">28.08.1964</option>
                            </select>
                        </div>
                        <div class="col-xs-8 col-xs-offset-2 customer-table">
                            <table class="table">
                                <thead>
                                    <tr style="font-size: 16px">
                                        <th scope="col">9402</th>
                                        <th scope="col">28.08.1964</th>
                                        <th scope="col" style="text-align: right">kr 597,00</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td style="text-align: left">Deadpool 2</td>
                                        <td style="text-align: right">kr 199,00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td style="text-align: left">The Notebook</td>
                                        <td style="text-align: right">kr 199,00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td style="text-align: left">Schindlers List</td>
                                        <td style="text-align: right">kr 199,00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="admin_scripts.js"></script>
</body>
