@model List<Model.Models.Movie>

	@{
		Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
	}

	<body class="users">
		<div class="container-fluid fill">
			<div class="container">
				<div class="mypage">
					<div class="jumbotron mypage-section">
						<h1 class="mypage-header">Alle brukere</h1>
						<p>Se og endre alle brukere som ligger i databasen</p>
					</div>
					<div class="col-sm-12 mypage-section">
						<div class="col-xs-6 col-xs-offset-3">
							<div class="col-xs-4">
								<a href="/Admin/EditUsers">Vis brukere</a>
							</div>
							<div class="col-xs-4">
								<a href="/Admin/EditMovies">Vis filmer</a>
							</div>
							<div class="col-xs-4">
								<a href="orders.html">Vis ordre</a>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="container-fluid mypage-section" style="padding-top: 0">
							<div class="col-xs-8 col-xs-offset-2 customer-table">
								<table class="table">
									<thead>
										<tr style="font-size: 16px">
											<th scope="col">Film Id</th>
											<th scope="col">Filmtittel</th>
											<th scope="col">Tilgjengelighet</th>
											<th scope="col" style="text-align: right">
												<button style="width: 183px"type="submit" class="btn btn-xs btn-success" id="addMovieButton">&nbsp;Legg til film&nbsp;</button>
											</th>
										</tr>
									</thead>
									<tbody>


										@foreach (var item in Model)
										{ 
													<tr>
														<th scope="row">@item.MovieId</th>
														<td style="text-align: left">@item.Title</td>
														<td style="text-align: left">
														@if (item.IsAvailable == 1) {
															<p style="color:green">Tilgjenglig for kjøp</p>
														}
														else  {
															<p style="color:red">Ikke tilgjengelig for kjøp</p>
															}
								 <td style="text-align: right">


									 <button onclick="location.href='@Url.Action("DetailedEditMovies", "Admin", new { movieId = item.MovieId })'" type="button" class="btn btn-xs btn-primary">Rediger</button>

															<button onclick="location.href='@Url.Action("SetMovieAvailability", "Admin", new { movieId = item.MovieId })'" type="button" class="btn btn-xs btn-danger deleteUser">Endre tilgjengelighet</button>
														</td>
													</tr>	
										}

										</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="admin_scripts.js"></script>
	</body>

