
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutAdmin</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale=1">
    <title>Lunaflicks</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a id="nav-header" class="navbar-brand" href="AdminPanel">Admin panel</a>
            </div>


            @{  if ((bool)Session["adminSession"])
                {
                    <ul class="nav navbar-right navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Admin
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Administrasjonspanel</a></li>
                                <li><a href="/Admin/Logout">Logg ut</a></li>
                            </ul>
                        </li>
                    </ul>
                }
            }



        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
