<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f35be820-c4f6-4b88-8798-d83faac2b902/resourceGroups/Lunaflick/providers/Microsoft.Web/sites/lunaflick</ResourceId>
    <ResourceGroup>Lunaflick</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://lunaflick.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lunaflick.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>lunaflick</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>lunaadmin</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LunaContext" Order="1" Enabled="True">
          <Destination Path="Data Source=lunaflick.database.windows.net;Initial Catalog=LunaData;User ID=lunaadmin;Password=itpe3200!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Oblig1.Models.LunaContext, Oblig1" MigrationConfiguration="Oblig1.Migrations.Configuration, Oblig1" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LunaContext-Web.config Connection String">
      <ParameterValue>Data Source=lunaflick.database.windows.net;Initial Catalog=LunaData;User ID=lunaadmin;Password=itpe3200!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>